app-viewport
    div(main="")
        .feed.row(*ngIf='isLoaded$ | async as load; else loading')
            .col.aside-menu
                .menu
                    button.catg-btn(*ngFor='let ctg of ctgList',
                    (click)='selectCategory(ctg)',
                    appQueryParamsActive
                    className='selected',
                    paramName='ctg',
                    [paramValue]='ctg') {{ctg}}
                .menu-control
                    a.control-btn(
                    routerLink='/workshops/create'
                    ) Add workshop
            .col.main-content
                ng-container(*ngIf='workshops$ | async as workshops')
                    ng-container(*ngIf='workshops.length; else noResult')
                        ng-container(*ngIf='users$ | async as users')
                            ng-container('*ngFor'='let workshop of workshops',)
                                ng-container(*ngIf='!onlyFavorite || onlyFavorite && (reactions$ | async | workshopQuiz: workshop.id)')
                                    app-article(
                                    [workshop]='workshop',
                                    [user]='users|author:workshop.author',
                                    [tags]='tags | workshopTags: workshop.tags',
                                    (workshopDeleted)='deleteWorkshop($event)',
                                    )
                            button.secondary(
                                *ngIf='!(isLastPage$ | async)',
                                (click)='loadArticles()',
                                [hidden]='emptyPage') Load more articles...
                    ng-template(#noResult='')
                        .empty-content
                            h3 No one workshops found for these parameters
                            img(src='/assets/empty.png')
            .col.tags
                .tag-cloud
                    ng-container(*ngIf='tagsLoaded; else emptyTags')
                        app-tag(*ngFor='let tag of tags',
                        [tag]='tag',
                        (selectTag)='selectTag($event)',
                        appTextToColor
                        [text]='tag.name',
                        [hoverEffect]='"on"',
                        [effectType]='"darken"' ,
                        appQueryParamsActive
                        paramName="tags",
                        [paramValue]='tag.seq'
                        )
                    ng-template(#emptyTags='')
                        div.tags-loaded
                            .div Tags Loaded....


        ng-template(#loading='')
            .row.flex-center
                div Loading Workshops...

