form
    form([formGroup]='quizForm')
        app-input(formControlName='name' label='Quiz name' id='name')
        .alert(*ngIf='name.invalid && (name.dirty || name.touched)')
            span *please, enter quiz name
        div(formArrayName='questions' )
            app-answer-group(*ngFor='let question of questions; let i = index',
            [form]='quizForm', [question]='question', [options]='options', [index]='i',
            (questionRemoved)='removeQuestion(index)')
        .row.flex-center
            button.btn.big-btn((click)='addQuestion()') Add question
        .row.flex-center
            button.btn.round-btn(
            [disabled] = 'quizForm.invalid',
            (click) = 'submitForm()'
            ) Create quiz
