@import "abstracts/abstracts";
@import "base/typography";
@import "layouts/breakpoints";

.side-menu {
    @include setting_position($left: 0, $top: 0);

    font-family: $menu_font;
    margin-top: $top_menu_height;
    margin-left: -200vw;
    height: calc(100vh - #{$top_menu_height});
    width: 80vw;
    min-width: $min_sm_width_sm;
    background-color: $side_menu_color;
    transition: margin 200ms linear;
    opacity: 0;
    overflow: hidden;

    @include mq($from: sm) {
        margin-left: 0;
        opacity: 1;
        min-width: $sm_width_md;
        width: $sm_width_md;
    }
    @include mq($from: md) {
        min-width: 100px;
        width: $sm_width;
    }
}

/*for open menu in small screens*/
.open .side-menu {
    margin-left: 0;
    opacity: 1;
}

.drop {
    opacity: 0;
    transition: opacity 400ms ease;
}

.open .drop {
    @include mq($until: sm) {
        display: block;
        background-color: #030e24;
        opacity: 0.7;
        overflow: hidden;
        @include setting_position($left: 0, $top: $top_menu_height,
                                    $right: 0, $bottom: 0)
    }
}

.menu-item {
    display: flex;
    flex-flow: row;
    text-align: center;
    cursor: pointer;
    color: $text_menu;
    transition: color 200ms linear,
                background-color 200ms ease-in-out;

    &:hover {
        color: #030e24;
    }

    a {
        display: block;
        padding: 1em $side_menu_padding;
        @include mq($from: sm) {
            padding: 1em $side_menu_padding;
        }
    }

    .md-icon {
        margin: 0.5em 0.3em;
    }

    .title {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1.3em;

        @include mq($from: sm) {
            display: none;
        }

        @include mq($from: md) {
            font-size: 1em;
            display: block;
        }
    }

    @include mq($from: sm) {
        flex-flow: column;
    }
}

/*link-style for current page*/
.active {
    background-color: darken($side_menu_color, 20%);
}
