label
    input(
    type='checkbox',
    [id]='id',
    [name]='groupName',
    [(ngModel)]='value',
    (ngModelChange)='onChange(value)' )
    span.checkmark
        i([ngClass]='{"icon-checkmark": isChecked}' )
    span(*ngIf='label') {{label}}
