@import "../../../../scss/abstracts/abstracts";
@import "../../../../scss/base/typography";
@import "../../../../scss/layouts/breakpoints";


:host {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    position: relative;
}

.footer {
    margin-top: auto;
}
.buttons-area{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.content {
        margin-top: auto;
}

h2 {
    text-align: center;
    color: #132626;
    font-size: $h2-font-size;

    @include mq($from: md) {
        font-size: $h1-font-size;
    }
}




