div([formGroup] = 'group')
    app-input(  [type] = 'config.type',
                [formGroup] = 'group',
                [formControlName]='config.id',
                [label] = 'config.label',
                [id]='config.id',)
