@import "abstracts/abstracts";
@import "base/typography";
@import "layouts/breakpoints";

figure {
    margin: 0 0.1em;

    img {
        width: 100%;
        border-radius: 2%;
    }
}
[main] {
    padding: 0 0.7em;
}
.footer {
    justify-content: space-between;
    border-radius: 30px;
    padding: 0.3em 0.1em;
    margin-top: 1em;

}

p {
    font-size: 1em;
    @include mq($from: sm) {
        text-align: justify;
        font-size: 1.2em;
    }
    @include mq($from: md) {
        padding: 1.5em 0;
        line-height: 1.3em;
    }

}

.tags {
    justify-content: left;
    flex-flow: row wrap;
    padding-bottom: 0.1em;

    .tag {
        margin: 0.3em;
        padding: 0.2em;
        background-color: rgba(100, 149, 237, 0.35);
        border-radius: 5px;
        color: #5b5f54;
    }
}

h1 {
    text-align: center;
    font-size: 3em;
    color: #030e24;
    text-shadow: 1px 1px 2px #06235c;
}
.back {
    justify-content: center;
}
.btn{
    display: inline-block;
    background-color: $side_menu_color;
    color: white;
    padding: 0.3em 0.4em;
    margin: 1em 0 2em 0;
    border-radius: 2px;
    transition: transform 400ms ease-in;
    &:hover {
        transform: scale(1.2);
    }
}

.reactions {
    margin-top: 1em;
}
