app-viewport
    div(main="")
        .tags.row
            .tag(*ngFor="let tag of tags", [id]='"tag-"+tag.id').
                {{tag.key}}
        .header
            h1 {{workshop.title}}
        figure
            img([src]='workshop.img')
        p {{workshop.text}}

        .footer.row
            app-like([likes]='workshop.likes', [isActive] = 'likeIt', (likedWorkshop)='liked($event)')
            app-timestamp([timestamp]='workshop.date')
        .row.back
            a.btn(routerLink='/workshops/feed') Back to feed
    div(aside="")
        app-aux-panel([auxOpen] = 'auxOpen')
