app-viewport([hasBackground]='true')
    div(main="")
        .centered
            form.centered-form([formGroup]='singInForm')
                .caption Sign In
                app-input([id]=username formControlName='username' label='Username', id='name', )
                label(for='password') Password
                input(type='password' required='' name=password, id=password,
                    formControlName='password')
                button((click)='submitForm()') Sign In
                .alternative
                    a(routerLink='/auth/sing-up') Or Sign Up
