.row.flex-between
    app-timestamp([timestamp]='quiz.createdAt', [onlyDate]='true' )
    button(*ngIf='isAuthor', (click)='deleteQuiz(quiz.id)')
        i.icon-bin.hover-danger
a([routerLink]='["../quiz", quiz.id]').row.centered
        h3 {{quiz.name}}
.row(*ngIf='selectedMod').flex-center.selected
    button(*ngIf='!alreadySelected; else alreadySelectedMessage',
         (click) = 'addToWorkshop()') Add quiz to workshop
    ng-template(#alreadySelectedMessage='') This quiz already added to workshop
.row.flex-right.footer
    div
        small created by {{userName}}


