.side-wrapper
    .side-menu([ngClass]="menuOpened&&'open'")
        a.menu-item.col(*ngFor="let item of this.sideMenuItems" )
                span.md-icon([ngClass]="'icon-'+item.icon" )
                span.title {{item.title}}

