.top-panel.row
    .rigth
        .logo
        .icons
            .menu-icon((click)="this.clickedOnMenu()")
                span([ngClass]="menuOpened?'icon-cross':'icon-menu'" )
            .icon-search((click)="this.openSearchBar()")
        form.search-bar([ngClass]="searchOpen && 'open-search'" )
            .close-icon
                i.icon-cross((click)="this.openSearchBar()")
            input(type='text' name='search' id='search')
            button(type="submit")
                i.icon-search
    .user-account
        .name
            span {{this.user.name}}
        img.pic(src='{{"/assets/img/user/"+this.user.img}}')


