div([formGroup] = 'group')
    app-dropdown(
        [formControlName] = 'config.name',
        [id] = 'config.id',
        [label] = 'config.label',
        [placeholder] = 'config.placeholder',
        [options]='config.options' )
