.auxiliary{

    width: 430px;
    overflow-y:auto;
    height: 100vh;
    padding: 3px;
    display: none;
}

.open-aux{
    @include mq($from: md){
        display: flex;
    }

}

.empty-content{

    align-items: center;
    justify-content: center;
}

.message{
    color: darkgrey;
    font-size: large;

}

.aux-icon{
    position: absolute;
    padding: 0.2em 1em;
    top: 0;
    right: 20px;
    background-color: $side_menu_color;
    color: #030e24;
    border-radius: 0 0 20% 20%;
    cursor: pointer;
    display: none;

    @include mq($from: md){
       display: block;
    }
}


