html{
    font-family: $main_font;
}

h1{
    font-family: $header_font;
}

code,pre{
    font-family: $code_font;
}

.row{
    display: flex;
}

.columns{
    flex-flow: column nowrap;
}

.md-icon{
    font-size: 1.7em;
}


.content-area{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: $top_menu_height;

    @include mq($from: sm){
        margin-left: $sm_width_md;
    }
    @include mq($from: md){
        margin-left: $sm_width;
    }
}
