html{
    font-family: $main_font;
}

h1{
    font-family: $header_font;
}

h2{
    font-family: $header2_font;
}

code,pre{
    font-family: $code_font;
}

.row{
    display: flex;
}

.columns{
    flex-flow: column nowrap;
}

.md-icon{
    font-size: 1.7em;
}
