main{
    height: 100vh;
    width: 100%;
    padding: 3%;
    background-color: #dbe1ca;
    @include mq($from: md){
        overflow-y:auto;
    }

}

.article{
    background-color: white;
    padding: 2%;
    max-width: 600px;

    h1{
        font-size: $h2-font-size;
    }

    .text-content{
        font-size: 1.1em;
    }

    @include mq($from: md){
        margin: 0 auto 2em auto;
        box-shadow: 1px 1px 4px black;

        h1{
            font-size: $h1-font-size;
        }

        .text-content{
            font-size: 1em;
        }
    }


}
