.side-menu{
    position: fixed;
    top: 0;
    left: 0;

    margin-top: $top_menu_height;
    height: 100vh;
    width: 80vw;
    min-width: $min_sm_width_sm;
    background-color: $side_menu_color;
    margin-left: -200vw;
    transition: margin 200ms linear;
    opacity: 0;
    font-family: $menu_font;

    @include mq($from: sm){
        margin-left: 0;
        opacity: 1;
        min-width: $sm_width_md;
        width: $sm_width_md;
    }

    @include mq($from: md){
        min-width: 100px;
        width: $sm_width;
    }
}


.menu-item{
    padding: calc(#{$side_menu_padding}-5px) $side_menu_padding;
    display: flex;
    flex-flow: row;
    text-align: center;
    cursor: pointer;
    color: $text_menu;
    transition: color 200ms linear,
                border-bottom 200ms ease-in;
    &:hover{
        color: #030e24;
        border-bottom: 3px solid #030e24;
    }

    .md-icon{
        margin: 0.5em 0.3em;
    }

    .title{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1.3em;

        @include mq($from: sm){
            display: none;
        }

        @include mq($from: md){
            font-size: 1em;
            display: block;
        }
    }

    @include mq($from: sm){
        flex-flow: column;
        padding: $side_menu_padding;
    }

}

/*for open menu in small screens*/
.open{
    margin-left: 0;
    opacity: 1;
}

/*link-style for current page*/
.active{
    color: transparentize($text_menu, 0.4);
    background-color: darken($side_menu_color, 20%);
}
