.top-panel{
    position: fixed;
    width: 100vw;
    height: $top_menu_height;
    background-color: $top_menu_color;
    color: $text_menu;
}

.logo-place{
    text-align: center;
    width: 20px;
}

.place-icon{
    color: white;
    height: $top_menu_height;
    padding: 0 1em;
    font-size: 1.8em;
    display: flex;
    align-items: center;
}

.menu-icon{
    display: none;
    @include mq($until: sm){
        display: block;
    }
}
