@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:900|Roboto+Slab|Roboto:400,700');

$main_font: 'Roboto Slab', serif;
$header_font: 'Roboto', sans-serif;
$header2_font: 'Lato', sans-serif;
$code_font: 'Inconsolata', monospace;
