.row.col
    .content-area
        main(#main='', (scroll)='detectScrollPosition()' )
            div(#top='')
            .centered
                ng-content(selector='[main]')
            app-to-top-button([blockForScroll]='topPoint', [scrollPos]='scrollPos')
        app-aux-panel
