@import "abstracts/abstracts";
@import "layouts/breakpoints";

main {
    display: flex;
    justify-content: center;
    height: calc(100vh - #{$top_menu_height});
    width: 100%;
    overflow-y: auto;
    -ms-overflow-style: auto;
    @include mq($from: sm) {
        padding: 3%;
    }

    .centered {
        width: 100%;
        max-width: 900px;
    }
}

.content-area {
    position: relative;
    display: flex;
    width: 100%;
    height: auto !important;
    overflow: hidden;
    margin-top: $top_menu_height;
    @include mq($from: sm) {
        margin-left: $sm_width_md;
    }
    @include mq($from: md) {
        margin-left: $sm_width;
    }
}
