.comment.row(#commentBlock='')
    .user-block
        app-user-pic([lname]='user.lname',
            [fname]='user.fname',
            [picture]='user.img')
        .name
            small {{user.fname}}
    p {{comment.text}}
    button.open-mini((click)="openMenu()" )
        i.icon-circle-up
    .btn-block([hidden]='!comtMenuOpened')
        button.del-btn
            i.icon-bin
        button.edit-btn
            i.icon-pencil((click)='openForm()')
    app-timestamp([timestamp]='comment.date')
template(#commentForm='')
