@import 'abstracts/vars';
@import 'abstracts/mixins';
@import 'layouts/layouts';


button {
    display: block;
    margin-left: auto;
    padding: 0.5em;
    border-radius: 5px;
    @include responsive_width($sm: 100%, $md: 80%);
    background-color:  $unactivated_color;
    color: $main_color;
    transition: background-color 200ms ease-in;
    &:hover{
        background-color: $activated_color;
    }
}
