@import "layouts/breakpoints";

.feed{
    justify-content: center;
}

.aside-menu{
    flex: 1;
    @include mq($until: md){
        display: none;
    }
}

.main-content{
    flex: 4;
    //display: flex;
    //flex-flow: row wrap;
    //justify-content: left;
}

.tags{
    flex: 1;
    @include mq($until: md){
        display: none;
    }
    .tag-cloud{

    }
 }
