@import "layouts/breakpoints";
@import "abstracts/abstracts";

.feed {
    justify-content: center;
}

.aside-menu {
    flex: 1;
    left: 0;
    top: 0;
    @include mq($until: md) {
        display: none;
    }
}

.main-content {
    flex: 4;
    position: relative;
}

.tags {
    flex: 1;

    display: flex;
    flex-flow: column;
    padding-left: 20px;
    @include mq($until: md) {
        display: none;
    }

    .tag-cloud {
        position: sticky;
        top: 3em;
        width: 100%;
    }

    .tags-loaded {

    }
}

.menu-control {
    max-width: 18%;
    position: sticky;
    top: 65vh;

    .control-btn {
        text-align: center;
        display: block;
        width: 20%;
        padding: 1.2em 0;
        margin: 0 0.5em 0.3em;
        min-width: 100px;
        color: white;
        font-size: 1.3em;
        border-radius: 50%;
        background-color: #3f51b5;
        transition: background-color 200ms ease-in-out;
        &:hover {
            background-color: $activated_color;
        }
    }
}
.feed-viewport{
    height: 100%;
}
.menu {
    max-width: 18%;
    position: sticky;
    top: 3em;

    .catg-btn {
        width: 20%;
        min-width: 100px;
        margin: 0 0.5em 0.3em;
        color: white;
        font-size: 1.3em;
        border-radius: 10px;
        background-color: #3f51b5;
    }

    .selected.catg-btn {
        background-color: #ff7700;
        color: #0c0c0c;
    }

}

.secondary {
    width: 100%;
    background-color: $side_menu_color;
    color: $main_color;
    margin: 2em 0.2em;
    padding: 0.3em 0.1em;
    border-radius: 1em;
    text-align: center;
}
