app-viewport
    div(main="")
        .feed.row
            .col.aside-menu
                .menu
                    button.catg-btn(*ngFor = 'let ctg of ctgList',
                    (click) = 'selectCategory(ctg)',
                    appQueryParamsActive
                    className = 'selected',
                    paramName='ctg',
                    [paramValue]='ctg') {{ctg}}
            .col.main-contentng-container

                div(*ngIf='workshops; else empty' )
                    app-article(*ngFor='let workshop of workshops', [workshop]='workshop')
                ng-template(#empty='')
                button.secondary((click) = 'loadArticles()',
                [hidden]='emptyPage') Load more articles...
            .col.tags
                .tag-cloud
                    app-tag(*ngFor='let tag of tags$ | async',
                    [tag] = 'tag',
                    (selectTag)='selectTag($event)',
                    appTextToColor
                    [text]='tag.name',
                    [hoverEffect] = '"on"',
                    [effectType] = '"darken"' ,
                    appQueryParamsActive
                    paramName="tags",
                    [paramValue]='tag.seq'
                    )

