.pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    display: block;
    font-weight: bold;
    color: white;
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
}
