.content
    .col.row
        include ../views/layout/top_pane.pug
        include ../views/layout/main_content.pug
        include ../views/layout/auxiliary_content.pug
    .col
        include ../views/layout/side_menu.pug


