.div
    router-outlet
    ng-container(*ngIf = '(authenticated$ | async)')
        app-side-menu(
        [menuOpened] = 'menuOpened',
        (clOnMenuDrop) = "changeMenuState()" )
        app-top-pane(
        [menuOpened] = 'menuOpened',
        (clOnMenuBtn) = "changeMenuState()"
         )
