router-outlet
app-side-menu([menuOpened]='menuOpened', (clOnMenuDrop)="changeMenuState()" )
app-top-pane((clOnMenuBtn)="changeMenuState()" )
//ng add @ngrx/store-devtools@7.0.0
//ng add @ngrx/effects@7.0.0
//
//
//
//ng add @ngrx/schematics@7.0.0
//ng add @ngrx/entity@7.0.0



