@import "../../../../scss/abstracts/vars";
@import "../../../../scss/abstracts/mixins";
@import "../../../../scss/layouts/breakpoints";

button {
    @include setting_position($left: 2px, $bottom: 10px);
    background-color: transparent;
    color: $unactivated_color;
    font-size: 1.5em;
    //hide button in the top of the scroll block
    opacity: 0;
    transition: opacity 400ms ease-in-out,
                transform 100ms linear;
    @include mq($from: sm) {
        @include setting_position($left: 2px, $top: 10px);

    }
    &.canHover {
        //show button
        opacity: 1;

        &:hover {
            transform: scale(1.2);
            color: $activated_color;
            text-shadow: 1px 1px 2px black;
        }
    }
}
