$main-backg: #dbe1ca;
$text-color: darkslategrey;
span {
    display: inline-block;
    background-color: cyan;
    color: $text-color;
    font-weight: bold;
    padding: 0.2em 0.3em;
    margin: 0.2em 0.5em;
    border-radius: 5px;
    border: 2px solid darkslategrey;
    transition: background-color 200ms ease-in-out,
                color 200ms ease-in-out,
                border-radius 200ms ease-in-out;
    cursor: pointer;
}

@for $i from 1 through 10 {
    .tag-#{$i} {
        $color: saturate(adjust-hue($main-backg,
            random(200)+45), 80%);
        background-color: $color;

        &:hover, &.selected {
            background-color: darken($color, 30%);
            color: lighten($text-color, 30%)
        }

        &.selected {
            border-radius: 50px;
            border-color: #fbff08;

        }
    }
}
