$main-backg: #dbe1ca;
$text-color: darkslategrey;
span {
    display: inline-block;
    color: white;
    background-color: #06235c;
    font-weight: bold;
    padding: 0.2em 0.3em;
    margin: 0.2em 0.5em;
    border-radius: 5px;
    border: 2px solid darkslategrey;
    transition: background-color 200ms ease-in-out,
                color 200ms ease-in-out,
                border-radius 200ms ease-in-out;
    cursor: pointer;
}

