@import "abstracts/abstracts";
@import "layouts/breakpoints";

.auxiliary{
    width: 350px;
    overflow-y:auto;
    -ms-overflow-style: auto;
    height: 91vh;
    display: none;
}

.open-aux{
    @include mq($from: md){
        display: flex;
    }
}

.empty-content{

    align-items: center;
    justify-content: center;
}

.message{
    color: darkgrey;
    font-size: large;

}
.area{
    width: 100%;
}

.aux-icon{
    position: fixed;
    padding: 0.2em 1em;
    top: $top_menu_height;
    right: 20px;
    background-color: $side_menu_color;
    color: #030e24;
    border-radius: 0 0 20% 20%;
    cursor: pointer;
    display: none;
    transition: color 200ms ease-in,
                background-color 200ms ease-in;
    @include mq($from: md){
        display: block;
    }

    &:hover{
        color: white;
        background-color: darkorange;
    }
}
