.auxiliary([ngClass]="{'open-aux': auxOpen, 'empty-content': !hasContent}")
    .area(*ngIf="hasContent; else emptyMessage")
        app-tab-group
            app-tab(*ngFor='let tab of tabs', [title]='tab.title', [href] = 'tab.href')
            div(route='')
                router-outlet('name'='aside')
    ng-template( #emptyMessage="" )
        .message Empty area
.aux-icon([ngClass]="auxOpen ? 'icon-minus' : 'icon-plus'", (click)="openAuxContent()")
