@import "../../../../scss/abstracts/abstracts";
@import "../../../../scss/layouts/breakpoints";

$tabs_menu_height: 55px;

:host {
    position: absolute;
    top: 0;
    width: $auxil_width;

}

.group {
    display: flex;
    padding-top: 1.5em;
    height: $tabs_menu_height;
    background-color: lighten($top_menu_color, 20%);
}

a {
    flex: 1;
    text-align: center;
    background-color: $side_menu_color;
    color: #dbe1ca;
    padding: 0.4em;
    margin: 0.1em 0.1em 0 0.1em;
    border-radius: 10px 10px 0 0;

    text-decoration: none;

    transition: color 200ms ease-in-out,
    background-color 200ms ease-in-out;

    &:hover {
        color: white;
    }

    &.open {
        background-color: #7f96c3;
        color: white;
    }

}

.content {
    padding: 1em 0.2em;
    overflow-y: auto;
    -ms-overflow-style: auto;
    height: calc(100vh - #{$top_menu_height} - #{$tabs_menu_height});
}
