form.row.columns(#myForm="ngForm")
    textarea([value]='comment && comment.text || ""' rows=5 cols=10 name='comment' class="form-control"  required
    id=comment placeholder='What do you think about it?' )
    .row.form-btn
        button(type='submit', [disabled]="myForm.invalid", (click)='submitForm()')
            | {{!isEdit ? "Submit" : "Save and close"}}
        ng-container(*ngIf='isEdit')
            button((click)='closeForm()') Close
