app-card
    .card-header(card-header='')
        a([routerLink]='["../workshop", workshop.id]' )
            figure
                img([src]='workshop.img')
                figcaption {{workshop.title}}
    .desc-block
         p
            | {{workshop.getShordDescr() + '...'}}
            a([routerLink]='["../workshop", workshop.id]') read more
    .tags.row
        .tag(*ngFor="let tag of tags", [id]='"tag-"+tag.id').
            {{tag.key}}
    .card-footer.row(card-footer='')
        app-like([likes]='workshop.likes', [isActive] = 'likeIt',(likedWorkshop)='liked($event)')
        app-timestamp([timestamp]='workshop.date', [onlyDate]='true')
