app-card()
    .card-header(card-header='')
        a([routerLink]='["../workshop", workshop.id]')
            figure
                img([src]='workshop.image')
                figcaption {{workshop.title}}
    .desc-block
         p
            | {{workshop.description}}
            a([routerLink]='["../workshop", workshop.id]') read more
    .tags.row
        .tag(*ngFor="let tag of tags", [id]='"tag-"+tag.seq').
            {{tag.name}}
    .card-footer.row(card-footer='')
        app-like([likes]='workshop.likesCount', [isActive] = 'likeIt',(likedWorkshop)='liked($event)')
        app-timestamp([timestamp]='workshop.createdAt', [onlyDate]='true')

