@import "abstracts/abstracts";
@import "base/typography";
@import "layouts/breakpoints";

figure{
    margin: 0 0.1em;
    img{
        width: 100%;
        border-radius: 2%;
    }
}

app-card footer{
    justify-content: space-between;
    background-color: #dbd9ed;
    border-radius: 30px;
    padding: 0.3em 0.1em;
}
.desc-block p:after{
    content: '...';
}

.tags{
    justify-content: left;
    flex-flow: row wrap;
    padding-bottom: 0.1em;
    .tag{
        margin: 0.3em;
        padding: 0.2em;
        background-color: rgba(100, 149, 237, 0.35);
        border-radius: 5px;
        color: #5b5f54;
        cursor: pointer;

        transition: transform 100ms linear;
        &:hover{
            transform: scale(1.2);
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

p{
    font-size: 1.1em;
    padding: 0.2em 0.4em;
    @include mq($from: md) {
        font-size: 1em;
    }
}
