.quiz-item {
    background-color: #7f96c3;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 0.5em;
    margin: 1em 0.5em;
    border-radius: 1em;
}

a {
    cursor: pointer;
    display: block;
    color: #0a0729;
    font-size: 1.2em;
}
