app-viewport
    div(main="")
        .quizze.row
        app-quiz-item(*ngFor='let quiz of quizzes | async', [quiz] = 'quiz')
    div(aside="")
        app-aux-panel([auxOpen] = 'auxOpen', [tabs] = 'tabs')

