app-viewport
    div(main="")
        .quizze.row
            .col
                h3 Hello everyone! It's quiz component
    div(aside="")
        app-aux-panel([auxOpen] = 'auxOpen', [tabs]='tabs')

